<!DOCTYPE html>
<html lang="en">

<head>
  <title>Team Assignment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-4"></div>
  
    <div class="col-sm-4">
      <div class="well">
       <div class="alert alert-danger text-center"><h3>Alert!</h3></div>  
        You have already been provided a hash code for this event.  If you think you have received this message in error
        please contact the event staff.
      </div>
    </div>
  
    <div class="col-sm-4"></div>
  </div>
</body>

</html>